<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Adding the thruster units with the macro created in snippets.xacro -->
    <!--
    Important:
        - The thruster IDs must be given as integers and must be unique to each thruster unit
        - The thruster pose in the <origin> block is relative to the body's center of mass. Be
          aware that Gazebo does not use the SNAME convention per default.
    -->

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="0" prop_mesh="Thruster_0.STL">
        <origin xyz="0.40734 -0.19848 -0.034179" rpy="0.5236 -1.5708 0" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="1" prop_mesh="Thruster_1.STL">
        <origin xyz="0.40734 0.19853 -0.034179" rpy="0.5236 1.5708 0" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="2" prop_mesh="Thruster_2.STL">
      <origin xyz="-0.43926 -0.19848 -0.034179" rpy="2.618 1.5708 0" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="3" prop_mesh="Thruster_3.STL">
      <origin xyz="-0.43926 0.19853 -0.0341" rpy="2.618 -1.5708 0" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="4" prop_mesh="Thruster_4.STL">
      <origin xyz="0.21106 0.16968 -0.053127" rpy="0 0 0" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="5" prop_mesh="Thruster_5.STL">
      <origin xyz="-0.43926 0.19853 -0.0341" rpy="0 0 0" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="6" prop_mesh="Thruster_6.STL">
      <origin xyz="-0.24297 -0.16962 -0.053127" rpy="0 0 3.1416" />
    </xacro:thruster_macro>

    <xacro:thruster_macro robot_namespace="${namespace}" thruster_id="7" prop_mesh="Thruster_7.STL">
      <origin xyz="0.21106 -0.16962 -0.053127" rpy="0 0 3.1416" />
    </xacro:thruster_macro>

</robot>